extends layout.pug
	
block pageVars
	- var page = "education.html"
	- var title = "Образование"

block append head
	title Образование

block content
	p С осеннего семестра 2014 года для студентов МГУ физического факультета и МАИ факультета «Прикладная математика и физика», а также всех желающих будут прочитаны курсы лекций «Проектирование инновационных прикладных систем», «Современные методы программирования», «Работа с пакетом VASP» подготовленные в рамках Научно-образовательного центра «Инновации и технологии создания наноматериалов». На страницах специализаций будут размещены расписание, программы курсов и практикумов, материалы курсов.

	p Информация обновляется и дополняется.
