extends layout.pug
	
block pageVars
	- var page = "events.html"
	- var title = "Мероприятия"

block append head
	title Мероприятия

block content 
	h2 Междисциплинарный научно-практический семинар по проблеме «Математическое моделирование в материаловедении электронных наноструктур» под научным руководством академика Ю.Г.Евтушенко и академика Ю.А.Рыжова

	#contacts
		p тел:
			b #{phone}
		p факс: 
			b #{fax}
		p e-mail: 
			b #{email}	
		p Заседания проводятся в ВЦ РАН имени А.А.Дородницына по адресу: 
			b #{address}

	h3 Тематические разделы семинара

	ul
		li современные проблемы развития материаловедения квантоворазмерных электронных гетероструктур;
		li межфазные границы раздела в гетероструктурах;
		li размерные, радиационные, поверхностные и др. эффекты в полупровдниковой наноэлектронике;
		li теоретические и экспериментальные исследования в области материаловедения электронных наноструктур;
		li новые композиционные материалы с нанокристаллами, нанокластерами, наноаморфными включениями;
		li математическое моделирование в структурном материаловедении (многоуровневые, многомасштабные модели, имитационные модели и т.д.);
		li моделирование физико-химических процессов наноструктурирования функциональных материалов для полупроводниковой наноэлектроники;
		li моделирование структурных, статических, динамических, механических, магнитных и других свойств современных полупроводниковых наноматериалов;
		li проблемы предсказательного моделирования электронных гетероструктур с пониженной размерностью;
		li информационные модели предметных областей, приложения в описательных науках;
		li численные методы оптимизации, применяемые для решения задач структурного материаловедения;
		li вычислительные методы, комплексы программ и информационные системы в области материаловедения электронных наноструктур. Параллельные и распределенные вычисления;
		li физика конденсированного состояния вещества, техническая физика и т.д.;
		li методы квантовой механики, квантовой химии, молекулярной динамики и т.д.;
		li смежные вопросы.

	em 
		b Заявки принимаются по e-mail. Проход на территорию ВЦ РАН осуществляется по списку при предъявлении паспорта. Для обеспечения допуска в ВЦ РАН сообщите ФИО, место работы, должность, контактный телефон. Выберите вариант участия, после чего будет запущена Ваша почтовая программа:

	+sendEmail("Подать заявку на участие в семинаре", "Seminar")
	+sendEmail("Отправить заявку на участие с докладом", "Seminar speech")

	p Материалы докладов публикуются в виде аннотаций, коротких сообщений или статей по представлению семинара и после стандартной процедуры рецензирования (соответственно тематике) в журнале Известия вузов, Материалы электронной техники (из списка ВАК).

	h3 Хроника событий
	
	p Для получения подробной информации, выберите семинар.

	+seminarList( 
		{date: "2.06.2016"},
		{date: "19.11.2015"},
		{date: "23.04.2015"},
		{date: "28.11.2014"},
		{date: "27.02.2014"},
		{date: "31.10.2013"},
		{date: "13.06.2013"},
		{date: "28.03.2013"}
	)
