extends layout.pug

block pageVars
	- var page = "index.html"
	- var title = "Главная"

block append head
	title Научно-образовательный центр ИТСН

block content
	p Для объединения усилий ВЦ РАН, Физического факультета МГУ, Московского авиационного института (МАИ) и ОАО НТЦ РЭБ по проведению научных исследований, подготовки и переподготовки кадров по направлению «Индустрия наносистем и материалов» и для обеспечения междисциплинарности вобразовании по данному направлению, в 2010 г. в ВЦ РАН имени А.А.Дородницына был создан Научно-образовательного центр «Инновации и технологии создания наноматериалов».

	p Целью НОЦ ИТСН является повышение качества подготовки специалистов высшей квалификации и молодых специалистов в областях создания новых композиционных наноструктурированных материалов для электроники на основепроведения фундаментальных научных исследований, разработки новых методови создания технологий получения новых наноструктур с прогнозируемыми свойствами для электронной компонентной базы следующего поколения с использованием достижений передовой науки и технологии России, а также международного сотрудничества с передовыми научными центрами и привлечения достигнутых результатов для подготовки молодых специалистов.
