extends layout.pug

block pageVars
	- var page = "research.html"
	- var title = "Исследования"

block append head
	title Исследования

block content
	h2 Гранты
	+grantsList(
		{ id: "РНФ 14-11-0782",
			title: "Развитие методов оптимизации, ориентированных на широкий класс прикладных задач структурного материаловедения",
			years: [2014, 2016],
			head: "академик Ю.Г.Евтушенко"},
		
		{ id: "РФФИ 13-01-12110 Офи_м", 
			title: "Многомасштабное моделирование на супер-ЭВМ процессов образования кластеров точечных дефектов и их трансформации в протяженные дефекты при радиационных воздействиях и верификация этих процессов при изготовлении структур для Si нанооптоэлектроники",
			years: [2013, 2015],
			head: "академик Ю.А.Рыжов"},

		{ id: "РФФИ 13-08-01335 А",
			title: "Теоретическое и экспериментальное исследование структуры и свойств (теплофизических и проводящих) многослойных полупроводниковых наноструктур на основе кремния",
			years: [2013, 2015],
			head: "зав. сектором, к.ф.-м.н. К.К.Абгарян"}
	)
