extends layout.pug
	
block append head
	title О НОЦ

block content
	p Общее руководство деятельностью НОЦ ИТСН осуществляет Научно-технический совет (НТС) в составе, утвержденным Директором ВЦ РАН, Деканом Физического факультета МГУ, Председателем научного совета Наноцентра МАИ и Генеральным директором ОАО НТЦ РЭБ.
	
	p Председатель научно-технического совета НОЦ ИТСН
	b Директор ВЦ РАН, академик Ю.Г.Евтушенко

	p Текущую организационную деятельность осуществляет
	b директор-координатор НОЦ Абгарян К.К.

	h2 Цели и задачи НОЦ ИТСН

	p Целью НОЦ ИТСН является повышение качества подготовки специалистов высшейквалификации и молодых специалистов в областях создания новыхкомпозиционных наноструктурированных материалов для электроники на основепроведения фундаментальных научных исследований, разработки новых методови создания технологий получения новых наноструктур с прогнозируемымисвойствами для электронной компонентной базы следующего поколения сиспользованием достижений передовой науки и технологии России, а такжемеждународного сотрудничества с передовыми научными центрами ипривлечения достигнутых результатов для подготовки молодых специалистов.
	
	p Достижение цели обусловлено решением следующих задач:

	ol
		li Получением новых результатов за счёт взаимодействия Физического факультетаМГУ, ВЦ РАН, Наноцентра МАИ и ОАО НТЦ РЭБ с передовыми научными иобразовательными центрами, проведения совместных научно-исследовательскихработ с использованием экспериментальной и исследовательской базы,внедрением полученных результатов в технологические разработки, а такжеи образовательный процесс, включая использование результатов влекционных курсах, в производственной и преддипломной практике.
		
		li Привлечением представителей фундаментальной науки Физического факультетаМГУ и ВЦ РАН для научных исследований по разработке передовыхтехнологических процессов в лабораториях НОЦ ИТСН, а также привлечениеквалифицированных сотрудников Физического факультета МГУ, ВЦ РАН,Наноцентра МАИ и ОАО НТЦ РЭБ к руководству учебно-исследовательскими,курсовыми и дипломными работами, практикой студентов и стажировкойаспирантов.
		
		li Привлечением материально-технической базы образовательного центра Физического факультета МГУ и ВЦ РАН, Наноцентра МАИ и ОАО НТЦ РЭБ для фундаментальных исследований и образовательного процесса.
			
		li Совершенствованием информационного обеспечения процесса научных исследований и обучения.
		
		li Осуществлением международного сотрудничества, как в области проведения совместных исследований, так и в области применения получаемых результатов и их коммерциализации.
		
		li Участием НОЦ ИТСН в работе международных конференций, организация международного обмена сотрудниками, студентами и молодыми учеными с профильными университетами и лабораториями мира, международными научными и образовательными организациями и фондами.
		
		li Созданием новых программ по образовательной, научной и международной деятельности, интегрирующих научные исследования с образовательным процессом, определяющих направления взаимодействия с образовательными и научными организациями.
		
		li НОЦ ИТСН должен проводить молодежную политику с обязательным привлечением к выполнению проекта студентов, аспирантов, докторантов, готовить резерв преподавательских и научных кадров.

		
	h2 Структура и направление деятельности НОЦ ИТСН

		p НОЦ ИТСН осуществляет образовательную и научную деятельность, в том числе подготовку специалистов высшей квалификации.

		p Образовательная структура НОЦ ИТСН включает:

		ul
			li кафедру физики твердого тела
			li Наноцентр МАИ
			li сектор «Математического моделирования инновационных прикладных систем» ВЦ РАН
			li отделение Материалов и компонентов электронной техники ОАО НТЦ РЭБ

		p Научно-образовательный центр осуществляет подготовку (переподготовку) специалистов для научных центров российской федерации и научно-исследовательских институтов по специальностям:

		ul
			li 14.03.01 — физика конденсированного состояния вещества;
			li 05.13.18 — математическое моделирование, численные методы и комплексы программ;
			li параллельные вычисления.

		p Подготовку бакалавров и магистров по направлениям:

		ul
			li 14.04.00 — техническая физика;
			li 01.01.07 — вычислительная математика;
			li математическая физика.

		p Подготовку специалистов высшей квалификации по специальностям:

		ul
			li 01.04.07 — физика конденсированного состояния;
			li 05.13.18 — математическое моделирование, численные методы и комплексы программ;
			li параллельные вычисления.

		p Обязательными принципами организации образовательной деятельностиявляются: инновационная направленность учебного процесса, развитиеметодов индивидуальной целевой подготовки, создание современных методик,в том числе по моделированию процессов в наносистемах и наноматериалах,участие в проведении конференций, молодежных школ и т.д.

	p Научная деятельность НОЦ ИТСН ведется:

	ul
		li в лабораториях кафедры физики твердого тела МГУ;
		li в секторе «Математического моделирования инновационных прикладных систем» ВЦ РАН;
		li в Наноцентре МАИ и в лабораториях ОАО НТЦ РЭБ.
