extends layout.pug

block append head
	title Научно-образовательный центр ИТСН

block content
	p Для объединения усилий ВЦ РАН, Физического факультета МГУ, Московскогоавиационного института (МАИ) и ОАО НТЦ РЭБ по проведению научныхисследований, подготовки и переподготовки кадров по направлению «Индустриянаносистем и материалов» и для обеспечения междисциплинарности вобразовании по данному направлению, в 2010 г. в ВЦ РАН имени А.А.Дородницынбыл создан Научно-образовательного центр «Инновации и технологии созданиянаноматериалов».

	p Подробнее о центре можно узнать в разделе «О НОЦ».

	p Целью НОЦ ИТСН является повышение качества подготовки специалистов высшейквалификации и молодых специалистов в областях создания новых композиционных наноструктурированных материалов для электроники на основепроведения фундаментальных научных исследований, разработки новых методови создания технологий получения новых наноструктур с прогнозируемымисвойствами для электронной компонентной базы следующего поколения сиспользованием достижений передовой науки и технологии России, а такжемеждународного сотрудничества с передовыми научными центрами ипривлечения достигнутых результатов для подготовки молодых специалистов.
